<configuration>
	<system.webServer>
		<aspNetCore
		  processPath="dotnet"
		  arguments=".\BackEnd.dll"
		  stdoutLogEnabled="true"
		  stdoutLogFile="\\logs\stdout"
		  hostingModel="InProcess">
			<environmentVariables>
				<!-- Let Azure set the environment based on slot settings -->
				<!-- <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" /> -->

				<!-- Add these for better diagnostics -->
				<environmentVariable name="DOTNET_PRINT_TELEMETRY_MESSAGE" value="false" />
				<environmentVariable name="ASPNETCORE_DETAILEDERRORS" value="true" />
			</environmentVariables>
		</aspNetCore>
	</system.webServer>
</configuration>